#minipekka1{
  background-color: green;
  text-align: center;
  position: relative;
  top: 10px;
}
.minipekka H2{
  text-align: center;
  position: relative;
}
.leñador{
  background-color:;
  text-align: left;
  position: relative;
  top: 10px;
}

.espiritu img{
  width: 450px;
  border-radius: 100%;
  top: 25px;
}
.XD img{
  width: 500px;
}
.XD h1{
  text-align: center;
  position: relative;
  top: -400px;
}
#text{
  float: right;
  position: relative;
  top:-430px;
  left: -300px;
}
