.titulo h1{
    background-color: green;
    text-align: center;
    position: relative;
    top: 10px;
  }
  .titulo h2{
    text-align: center;
    position: relative;
  }
  .buscador{
    background-color:green;
    text-align: left;
    position: relative;
    top: 10px;
  }
  
  .logo img{
    height: 200px;
    width: 100%;
  
  }
  .select img{
    width: 500px;
    position: relative;
    top: 100px;
    left:100px;
  }
  .select h1{
    text-align: center;
    position: relative;
    top: -400px;
  }
  .links h1{
    float: right;
    position: relative;
    top:-430px;
    left: -300px;
  }
  .select h3{
    position: relative;
    top:100px;
    left:700px;
  }
  .select li{
    position: relative;
    top: -90px;
    left:750px;
  
  }
  .select p{
    float: right;
    position: relative;
    top:-430px;
    left: -300px;
  }
  .img2 img{
    width: 700px;
    position: relative;
    top: -350px;
    right:-1100px;
  }
  .img2 p{
    position: relative;
    top:-200px;
  }
  .parrafo h1{
    position: relative;
    top:-200px;
    left: 700px;
  }
  .parrafo p{
    position: relative;
    top:-200px;
  }
  .parrafo img{
    position: relative;
    top:-200px;
  }
  .socialmedia img{
    width: 65px;
  }